<ion-header>
  <ion-navbar>
    <!--<button ion-button (click)="back()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>-->
    <ion-title>Add Class</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Start Time</ion-label>
    <ion-datetime displayFormat="hh:mm a" [(ngModel)]="startTime"></ion-datetime>
  </ion-item>
   <ion-item>
    <ion-label>End Time</ion-label>
    <ion-datetime displayFormat="hh:mm a" [(ngModel)]="endTime"></ion-datetime>
  </ion-item>


  <button ion-button block color="danger" (click)="generateDaysPerWeek()">Select Days Per Week</button>
  <button ion-button block color="danger" (click)="goToCourseSearch()">Select Course and INstructor</button>

   <ion-item *ngIf="selectedCourse">
    <ion-label>{{selectedCourse.course}}</ion-label>
  </ion-item>
     <ion-item *ngIf="selectedIntructor">
    <ion-label>{{selectedIntructor.name}}</ion-label>
  </ion-item>


<button ion-button block color="primary" (click)='submit()'>Add Class</button>

</ion-content>